    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-merge" data-toggle="tab">{{ tab_merge }}</a></li>
      <li><a href="#tab-bulk" data-toggle="tab">{{ tab_bulk }}</a></li>
     </ul>
     <div class="tab-content">
		<div class="tab-pane active" id="tab-merge">
		{{ getMergeForm }} 
		</div>  
		<div class="tab-pane" id="tab-bulk">
		{{ getBulkForm }} 
		</div>  
	 </div>  
